# config file for ansible-csr1000v
[defaults]
# Use the inventory file located in the current directory
inventory = ./hosts
# Disable SSH key fingerprint checking (Required for Sandbox connectivity)
host_key_checking = False
# Disable the creation of .retry files on task failure
retry_files_enabled = False
# Suppress unnecessary deprecation warnings in the output
deprecation_warnings = False